<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css"  href= "http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="/web_media/js/qunee-min.js"></script>
</head>
<body>
{#    {{ data }}#}
{#{{ edit_right }}#}
    <header style="float: right;">
        <button class="btn btn-success btn-bg" title="Export Image" onclick="exportImage()" style="display: none;">导出成图片</button>
        <button id = "edit-position" class="btn btn-success btn-bg" title="Save my Setting" onclick="save_img()" style="display: none;">保存位置修改</button>
    </header>
    <section>
        <div style="height: 500px;" id="canvas"/>
    </section>
    <footer>
        <span name="line_id" style="display: none;"></span>
        <span name="line_name" style="display: none;"></span>
        <div id = "tip" style="display: none;color:white; background-color:rgba(0,0,0,1); position:absolute;
        left: 100px; top:100px; z-index: 10000;padding: 10px;">App<br>PPP<br>kiki</div>
    </footer>
    <script>
        function exportImage() {
            var scale = 1;
            var imageInfo = graph.exportImage(scale);
            if (!imageInfo || !imageInfo.data) {
                return false;
            }
            var win = window.open();
            var doc = win.document;
            doc.title = "export image - " + imageInfo.width + " x " + imageInfo.height;
            var img = doc.createElement("img");
            img.src = imageInfo.data;
            doc.body.appendChild(img);
        }
    </script>
    <script>
        var edit_right = {{ edit_right }};
        if(edit_right == 1){
            $("#edit-position").css("display", "block");
        }else{
            $("#edit-position").remove();
        }
        var windowH = $(window).height();
        $("#canvas").height(windowH);
        var x = {{ data|safe }};
        var data = eval(x);
        var painted = data[0];
        var data = data[1];
        var id_data_mp = {};
        for(var xl = 0; xl < data.length; ++xl){
            id_data_mp[data[xl].id] = data[xl];
        }
{#        console.log(data);#}
        var graph = new Q.Graph("canvas");
        var line = {{ line | safe }};
        $("[name=line_id]").html(line.id);
        $("[name=line_name]").html(line.name);
        if(painted == false){
            var root = createNode(line.name);
            root.parentChildrenDirection = Q.Consts.DIRECTION_RIGHT;
            var node_list = {};
            for(var i = 0; i < data.length; ++i){
                var node;
                var data_tmp = data[i];
                if(data_tmp.father_id == 0){
                    node = createNode(data_tmp.name, root);
                    node.user_id = data_tmp.id;
                    node.description = data_tmp.description;
                }else{
                    node = createNode(data_tmp.name, node_list[data_tmp.father_id]);
                    node.user_id = data_tmp.id;
                    node.description = data_tmp.description;
                }
                node.parentChildrenDirection = Q.Consts.DIRECTION_RIGHT;
                node.layoutType = Q.Consts.LAYOUT_TYPE_EVEN_VERTICAL ;
                node_list[data_tmp.id] = node;
            }
            var layouter = new Q.TreeLayouter(graph);
            layouter.doLayout({callback: function(){
                graph.zoomToOverview();
            }});
        }else{
            var root = graph.createNode(line.name, parseInt(line.X), parseInt(line.Y));
            root.user_id = line.id;

{#            console.log(root);#}
            var node_list = {};
            for(var i = 0; i < data.length; ++i){
                var node;
                var data_tmp = data[i];
                if(data_tmp.father_id == 0){
                    node = graph.createNode(data_tmp.name, parseInt(data_tmp.X), parseInt(data_tmp.Y));
                    node.setStyle(Q.Styles.BORDER, 3);
                    node.setStyle(Q.Styles.BORDER_COLOR, '#FFFFFF');
                    node.user_id = data_tmp.id;
                    node.description = data_tmp.description;
                    var edge = graph.createEdge(root, node);
                    edge.edgeType = Q.Consts.EDGE_TYPE_VERTICAL_HORIZONTAL;
                }else{
                    node = graph.createNode(data_tmp.name, parseInt(data_tmp.X), parseInt(data_tmp.Y));
                    node.setStyle(Q.Styles.BORDER, 3);
                    node.setStyle(Q.Styles.BORDER_COLOR, '#FFFFFF');
                    node.user_id = data_tmp.id;
                    node.description = data_tmp.description;
                    var edge = graph.createEdge(node_list[data_tmp.father_id], node);
                    edge.edgeType = Q.Consts.EDGE_TYPE_VERTICAL_HORIZONTAL;
                    if(data_tmp.status == "短路"){
                        edge.setStyle(Q.Styles.EDGE_COLOR, "#FF0000");
                        edge.setStyle(Q.Styles.EDGE_WIDTH, 3);
                    }
                }
                node_list[data_tmp.id] = node;
                if(data_tmp.online=="异常"){
                    node.setStyle(Q.Styles.BORDER, 3);
                    node.setStyle(Q.Styles.BORDER_COLOR, '#000000');
                    node.setStyle(Q.Styles.PADDING, 1);
                }
                if(data_tmp.status == "短路"){
                    var tmp = data_tmp.id;
                    while(1){
                        var C_node = node_list[tmp];
                        C_node.setStyle(Q.Styles.BORDER, 3);
                        C_node.setStyle(Q.Styles.BORDER_COLOR, '#FF0000');
                        var father_node = node_list[id_data_mp[tmp].father_id];
{#                        console.log(C_node);#}
{#                        console.log(father_node);#}
                        if(father_node == undefined && id_data_mp[tmp].father_id == 0){
                            father_node = root;
                            father_node.setStyle(Q.Styles.BORDER, 3);
                            father_node.setStyle(Q.Styles.BORDER_COLOR, '#FF0000');
                            var edge = graph.createEdge(father_node, C_node);
                            edge.edgeType = Q.Consts.EDGE_TYPE_VERTICAL_HORIZONTAL;
                            edge.setStyle(Q.Styles.EDGE_COLOR, "#FF0000");
                            edge.setStyle(Q.Styles.EDGE_WIDTH, 3);
                            break;
                        }
                        if(father_node == undefined){
                            break;
                        }
                        father_node.setStyle(Q.Styles.BORDER, 3);
                        father_node.setStyle(Q.Styles.BORDER_COLOR, '#FF0000');
                        var edge = graph.createEdge(father_node, C_node);
                        edge.edgeType = Q.Consts.EDGE_TYPE_VERTICAL_HORIZONTAL;
                        edge.setStyle(Q.Styles.EDGE_COLOR, "#FF0000");
                        edge.setStyle(Q.Styles.EDGE_WIDTH, 3);
                        tmp = father_node.user_id;
                    }
                }


            }
        }
        graph.addCustomInteraction({
            onmousemove: function(evt, graph){
{#                $("#tip").css("display", "none");#}
                var target = graph.hitTest(evt);
                console.log(target);
                if (!target) {
                    $("#tip").html("").css("display", "block").css("left", xx).css("top", yy).css("background-color", "rgba(255,255,255,0)");
                    return;
                }
                var node_description = target.data.description;
                if(node_description == undefined){
                    if(target.$data !="Q-node"){
                        node_description = target.parent.$data.description;
                    }

                }
                if(node_description == undefined){
                    $("#tip").html("").css("display", "block").css("left", xx).css("top", yy).css("background-color", "rgba(255,255,255,0)");
                    return;
                }
                var xx = evt.clientX;
                var yy = evt.clientY;
                $("#tip").html(node_description).css("display", "block").css("left", xx).css("top", yy).css("background-color", "rgba(0,0,0,1)");
            },
        });
        graph.onclick = function (evt) {
            var target = graph.hitTest(evt);
            console.log(target);
            if (!target) {
                $("#tip").html("").css("display", "block").css("left", xx).css("top", yy).css("background-color", "rgba(255,255,255,0)");
                return;
            }
            var node_description = target.data.description;
            if(node_description == undefined){
                node_description = target.parent.$data.description;
            }
            if(node_description == undefined){
                $("#tip").html("").css("display", "block").css("left", xx).css("top", yy).css("background-color", "rgba(255,255,255,0)");
                return;
            }
            var xx = evt.clientX;
            var yy = evt.clientY;
            console.log(xx);
            console.log(yy);
            $("#tip").html(node_description).css("display", "block").css("left", xx).css("top", yy).css("background-color", "rgba(0,0,0,1)");
        };
        function createNode(name, from){
            var node = graph.createNode(name);
            if(from){
                var edge = graph.createEdge(from, node);
                edge.edgeType = Q.Consts.EDGE_TYPE_VERTICAL_HORIZONTAL
            }
            var p = graph.globalToLocal(node);
            var l = graph.toLogical(p.x, p.y);
            return node;
        }
        function save_img(){
            graph.forEach(function(n){
{#                console.log(n);#}
                var keyx = "x";var keyy = "y";
                try{
                    var X = n.location[keyx];
                    var Y = n.location[keyy];
                    var node_name = n.$name;
                    var NAME = $("[name=line_name]").html();
                    if(node_name == NAME){
                        var line_id = $("[name=line_id]").html();
                        var formdata = new FormData();
                        formdata.append("line_id", line_id);
                        formdata.append("root_x", X);
                        formdata.append("root_y", Y);
                        $.ajax({
                            url:'/graph/node/update_root_position/',
                            type:'POST',
                            data:formdata,
                            cache:false,
                            processData : false,
                            contentType : false
                        }).done(function (res) {
                            if(res == "success"){
                                console.log("Root保存成功");
                            }else{
                                alert("保存失败，请稍后再试或联系管理员x");
                                return;
                            }
                        }).fail(function(res){
                            alert("保存失败，请稍后再试或联系管理员");
                            return;
                        });
                    }else{
                        var node_id = n.user_id;
                        var formdata = new FormData();
                        formdata.append("node_id", node_id);
                        formdata.append("node_x", X);
                        formdata.append("node_y", Y);
                        $.ajax({
                            url:'/graph/node/update_node_position/',
                            type:'POST',
                            data:formdata,
                            cache:false,
                            processData : false,
                            contentType : false
                        }).done(function (res) {
                            if(res == "success"){
                                console.log("node 保存成功");
                            }else{
                                alert("node保存失败，请稍后再试或联系管理员x");
                                return;
                            }
                        }).fail(function(res){
                            alert("node保存失败，请稍后再试或联系管理员");
                            return;
                        });
                    }

                }
                catch (e){
{#                    console.log("this is a edge");#}
                }
{#                save_data.push(save_data_tmp);#}
            }, null, null);
            alert("保存成功");
        }
    </script>
</body>
</html>
